/* reset element-ui css */
.login-container {
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: 1;
    background: url(~@a/loginpic.png) no-repeat center;
    background-size: cover;
    z-index: 1;

    // .login-shadow {
    //     background: black;
    //     position: fixed;
    //     height: 100%;
    //     width: 100%;
    //     z-index: 2;
    //     opacity: 0.6;
    // }

    .login-border {
        border-radius: 5px;
        height: 539px;
        width: 674px;
        position: relative;
        // background-color: #FFF;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        opacity: 1;
        z-index: 3;
        // todo
        margin: 200px auto;

        .bannerimg {
            width: 284px;
            height: 85px;
            display: inline-block;
            background: url(~@a/logo_old.svg) no-repeat center;
            // box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.5);
            position: absolute;
            left: 195px;
            top: -42px;
        }

        .login-form {
            position: absolute;
            top: 61px;
            left: 99px;
            width: 476px;

            .title {
                text-align: center;
                font-size: 22px;
                margin-bottom: 31px;
                color: rgba(51, 51, 51, 1);
            }

            p {
                font-size: 18px;
                color: rgba(112, 125, 149, 1);
                margin-bottom: 10px;
            }

            .el-input {
                display: inline-block;
                height: 52px;
                width: 476px;
                background-color: #F5F6F8;
                font-size: 18px;

                input {
                    background: transparent;
                    border: 0px;
                    -webkit-appearance: none;
                    border-radius: 0px;
                    padding: 12px 5px 12px 15px;
                    color: #000;
                    height: 52px;

                }
            }

            .el-form-item {
                border: 1px solid rgba(255, 255, 255, 0.1);
                background: rgba(0, 0, 0, 0.1);
                border-radius: 5px;
                color: #000;

                .show-pwd {
                    position: absolute;
                    right: 10px;
                    top: 14px;
                    height: 25px;
                    color: #889aa4;
                    cursor: pointer;
                    user-select: none;
                }



            }

            .btn_wrapp {
                margin-top: 60px;

                .login_button {
                    height: 68px;
                    width: 100%;
                    font-size: 18px;
                    border-radius: 8px;
                    // background-color: #189271;
                    // border-color: #189271;
                }

            }
        }
    }
}