#app {
    .sidebar-container {
        display: flex;
        flex-direction: column;
        // 多余部位背景颜色
        // background-color: $menuBg;
        transition: width 0.28s;
        width: $sideWidth !important;
        height: 100%;
        float: left;
        box-sizing: border-box;
        z-index: 6;
        // background: linear-gradient(180deg,rgba(159,212,103,1) 0%,rgba(45,176,96,1) 100%); 2019年7月30日17:17:51不用了。
        background: #fff;
        // logo样式  
        .logo-contener {
            text-align: center;
            top: 0;
            // background: $menuBg no-repeat;
            background-size: 100% 100%;
            z-index: 6;
            height: 64px;
            transition: width 0.1s;
            width: $sideWidth;
            img {
                height: $logo_contener-height;
                width: $logo_contener-width;
            }
        }
        /*   保留防止后端需要渲染图标 */
        .el-menu {
            border: none;
            // background-color: $menuBg;
            background-color: transparent;
            height: calc(100% - #{$min_sideWidth});
            // overflow: auto;
            .avatarleft {
                height: $avatarleft-height;
                width: $avatarleft-height;
                display: inline-block;
                margin-right: $avatarleft-margin-right
            }
            //  一级没有孩子的
            .el-menu-item {
                // 各二级item的字体
                // background-color: $menuBg;
                color: $fontColor2;
                font-weight: $font-weight2;
                margin-left: $nochild-margin-left;
                border-radius: 8px 0px 0px 8px;
                // 当鼠标移到上面时颜色1
                &:hover {
                    // background-color: $menuHover;
                    // color: $fontHove;
                    color: #2DB060;
                }
                // 当子菜单栏激活时背景
                &.is-active {
                    // background-color: $menuActive;
                    // background: rgba(0, 0, 0, 0.2); 
                    background: linear-gradient(90deg, rgba(159, 212, 103, 1) 0%, rgba(45, 176, 96, 1) 100%);
                    box-shadow: 0px 5px 20px rgba(124, 124, 124, 0.2);
                    opacity: 1;
                    border-radius: 15px;
                    color: $fontActive;
                }
            }
            .el-submenu {
                padding-left: $el-submenu-padding-left;
                .el-submenu__title {
                    // 一级菜单打开时显示颜色
                    // color: $fontColor1; 2019年7月30日18:47:47
                    color: #909090;
                    font-weight: $font-weight1;
                    font-size: 14px;
                    border-radius: 8px 0px 0px 8px;
                    &:hover {
                        // 一级菜单hove样式
                        // background-color: $menuHover;
                        // color: $fontHove;
                        color: #2DB060;
                        i {
                            color: $fontHove;
                        }
                    }
                    .el-submenu__icon-arrow,
                    .el-icon-arrow-down {
                        right: $__icon-arrow-right;
                    }
                }
                // 当点击展开时的背景
                .el-menu-item {
                    // 各二级item的字体
                    box-sizing: border-box;
                    // background-color: $subMenuBg;
                    background-color: transparent;
                    color: $fontColor2;
                    font-weight: $font-weight2;
                    padding-left: $font-padding-left;
                    border-radius: 8px 0px 0px 8px;
                    padding-right: 5px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    // 当鼠标移到上面时颜色1
                    &:hover {
                        // background-color: $menuHover;
                        // color: $fontHove;
                        color: #2DB060;
                    }
                    // 当子菜单栏激活时背景
                    &.is-active {
                        // background-color: $menuActive;
                        // background: rgba(0, 0, 0, 0.2);
                        background: linear-gradient(90deg, rgba(159, 212, 103, 1) 0%, rgba(45, 176, 96, 1) 100%);
                        box-shadow: 0px 5px 20px rgba(124, 124, 124, 0.2);
                        opacity: 1;
                        border-radius: 15px;
                        color: $fontActive;
                    }
                }
            }
        }
        //  侧边栏关闭动画重写
        .horizontal-collapse-transition {
            transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
        }
    }
    // 隐藏侧边栏样式,对部分属性重写
    .hideSidebar {
        .sidebar-container {
            width: $min_sideWidth !important;
            // 当折叠时显示的样式
            .el-menu--collapse {
                overflow: hidden;
                .el-menu-item {
                    margin-left: 0px;
                }
                .el-submenu {
                    padding-left: 0;
                    &>.el-submenu__title {
                        &>span {
                            overflow: hidden;
                            visibility: hidden;
                        }
                        &>a {
                            overflow: hidden;
                            visibility: hidden;
                        }
                        &>i {
                            overflow: hidden;
                            visibility: hidden;
                        }
                    }
                }
            }
        }
        // 隐藏时logo的样式
        .logo-contener {
            overflow: hidden;
            padding-left: $hideSidebar-logo-padding-left;
            width: 100%;
            background-size: 350%, 100%;
        }
        // 隐藏单独样式结束
    }
    //适配移动端1
    .mobile {
        .sidebar-container {
            transition: transform .28s;
        }
        &.hideSidebar {
            .sidebar-container {
                width: 0 !important;
                transition-duration: 0.3s;
                transform: translate3d(-256px, 0, 0);
            }
        }
    }
    .withoutAnimation {
        .main-container,
        .sidebar-container {
            transition: none;
        }
    }
    // 隐藏X方向滑动条
    .el-scrollbar__wrap {
        overflow-x: hidden;
    }
    // 下面为隐藏滑动条,所有样式通用,不用管
    .sidebar-container {
        .el-menu {
            .el-scrollbar__bar.is-vertical {
                // right: 0px;
            }
            .el-scrollbar__thumb {
                display: none;
            }
            .scrollbar-wrapper {
                // overflow-x: hidden !important;
                // .el-scrollbar__view {
                //   height: 100%;
                // }
            }
        }
    }
}

// 这是手机时水平显示跟App同级必须写最外面
.el-menu--vertical {
    .el-menu--popup {
        // background-color: $menuBg;
        background: linear-gradient(180deg, rgba(159, 212, 103, 1) 0%, rgba(45, 176, 96, 1) 100%);
        color: $fontActive;
    }
    .el-menu-item {
        color: $fontColor1;
        font-weight: $font-weight1;
    }
    .el-menu-item:hover {
        // background-color: $menuHover;
        // color: $fontActive;
        color: #2DB060;
    }
    //悬浮的以及标题的背景色 2019年2月24日18:56:58 szc
    .el-submenu__title:hover {
        // background-color: rgba(1, 57, 29, 0.4);
        // color: #fff;
        color: #2DB060;
    }
}