.Cbsb {
    width: 660px;
    height: 420px;
    position: relative;

    .choice_title {

        font-weight: bold;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.60);
    }

    .name {

        color: rgba(0, 0, 0, 0.6);
        text-align: center;
        width: 60px;
        left: -50px;
        padding-top: 11px;
    }

    .role_add {
        height: 125px;
        padding: 25px 40px 20px 0px;

        .choose {
            position: relative;
        }

        img {
            opacity: 1;
            position: absolute;
            margin-left: 5px;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1);

            &:hover {
                opacity: 0;
            }
        }

        .item_img {
            margin-left: 5px;
            font-size: 50px;
            color: rgba(0, 0, 0, 0.3);
        }

        .item_imgadd {
            font-size: 40px;
            color: rgba(0, 0, 0, 0.3);
        }
    }

    .role_bgch {
        height: 125px;
        padding: 25px 40px 20px 0px;

        img {
            margin-left: 5px;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1);
        }
    }

    .input_title {
        padding-bottom: 20px;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.6);
        font-weight: bold;
    }

    .input {
        border-radius: 12px;
        width: 620px;

    }

    .send {
        width: 80px;
        position: absolute;
        bottom: 0px;
        right: 40px;
        // padding-right: 20px;
    }
}