.OpenMeluList {
    z-index: 2400;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;

    .cloak {
        @extend .OpenMeluList;
        background: rgba(0, 0, 0, 0.2);
    }

    .content-wrap {
        z-index: 2600;
        width: 300px;
        position: absolute;
        background: #fff;
        top: 0;
        bottom: 0;
        right: 0;

        .content {
            box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.4);
            height: 100%;

            .checkAll {
                margin-left: 50px;
            }

            &-message-top {
                padding: 0 20px;
                height: 60px;
                box-shadow: -3px 0px 20px rgba(0, 0, 0, 0.16);

                span:nth-child(1) {
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 60px;
                    color: rgba(0, 0, 0, 0.6);
                }

                .close {
                    margin: 22px 0;
                    float: right;
                    font-size: 20px;
                    color: #1890FF
                }


            }

            &-middle {
                .name-label {
                    color: #000;
                    width: 50px;
                    height: 50px;
                    display: inline-block;
                }

                .checkbox-item {
                    .el-checkbox__input {
                        float: right;
                    }
                }
            }
        }
    }

    .sheach {
        margin: 20px 20px;

        .el-input {
            background: rgba(242, 242, 242, 1) !important;
            width: 260px;
            padding-left: 20px;
            border: 1px solid rgba(0, 0, 0, 0.2) !important;
            border-radius: 8px;

            &__inner {
                // padding: 20px 20px;
                width: 220px;
                height: 40px;
            }

            &__icon {
                font-size: 20px;
            }
        }

        input::input-placeholder {
            color: rgba(0, 0, 0, 0.40) !important;

        }

        input::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder {
            color: rgba(0, 0, 0, 0.40) !important;
        }

        input:-moz-placeholder,
        textarea:-moz-placeholder {
            color: rgba(0, 0, 0, 0.40) !important;
        }

        input::-moz-placeholder,
        textarea::-moz-placeholder {
            color: rgba(0, 0, 0, 0.40) !important;
        }

        input:-ms-input-placeholder,
        textarea:-ms-input-placeholder {
            color: #b8c4ce !important;
        }


    }


    .slid-enter-active,
    .slid-leave-active {
        transition: margin 0.26s;
    }

    .slid-enter,
    .slid-leave-to {
        margin-left: 300px;
        opacity: 0;
    }

    .content-middle {
        display: block;
        margin-top: 25px;
        padding: 0 20px;
        height: 50px;
        margin-bottom: 10px;

    }

    .img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: relative;
    }

    .checkbox-item {
        .el-checkbox__label {
            position: absolute;
            left: 20px;
            bottom: 20px;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.8);
        }

        .el-checkbox__input {
            position: absolute;
            left: 194px;
            bottom: 20px;
        }
    }


}