// 侧边栏大背景颜色
$menuBg:#001529;
// 鼠标在项目上的hover颜色
$menuHover:#1890ff;
// 当被激活
$menuActive:#1890ff;
// 项目被激活时字体颜色
$fontActive:#fff;
$fontHove:#fff;
// 侧边宽度
$sideWidth:256px;


/* logo样式调整 */
$logo_contener-height:64px;
$logo_contener-width: 200px;

/* 一级目录无子相的 */
$nochild-margin-left:0px;

/* 一级目录 */
// 侧边栏1级字体默认颜色
$el-submenu-padding-left:0px;
$fontColor1:rgba(159, 167, 174, 1);
$font-weight1: bold;
$Icon-font-size: 16px;
$Icon-margin-right: 8px;
$__icon-arrow-right: 40px;
$avatarleft-height:15px;
$avatarleft-margin-right: 20px;

/* 二级展开 */
// 项目展开时触发的所有项目颜色
$subMenuBg:#000c17;
// 侧边二级字体默认颜色
$fontColor2:rgba(159, 167, 174, 1);
$font-weight2: bold;
$font-padding-left:57px;

/* 折叠侧边栏样式 */
// 折叠宽度
$min_sideWidth:64px;
$hideSidebar-logo-padding-left: 3px;
$hideSidebar-logo-height: 64px;
$hideSidebar-logo-width: 88px;

/* 顶部栏和内容区公共样式 */
// 顶部栏离顶部高度
$topHeight:64px;
$app_contai_padding-top:24px;
// 内容无  背景
$nonbugColor:#F0F2F5;
$infoImg:'~@a/infoshow.png';
/* 顶部栏样式 */
$top-background: #fff;
$topcontent-line-height: 64px;
$topcontent-margin-right: 20px;
$top-font-size: 22px;
$font-clolor:#555;