// 侧边栏大背景颜色
$menuBg:#001529;
// 鼠标在项目上的hover颜色
$menuHover:#1890ff;
// 当被激活
$menuActive:#1890ff;
// 项目被激活时字体颜色
$fontActive:#fff;
$fontHove:#fff;
// 侧边宽度
$sideWidth:256px;


/* logo样式调整 */
$logo_contener_left:36px;
$logo_contener-height:64px;
$logo_contener-width: 200px;

/* 一级目录无子相的 */
$nochild-margin-left:0px;

/* 一级目录 */
// 侧边栏1级字体默认颜色
$el-submenu-padding-left:0px;
$fontColor1:rgba(159, 167, 174, 1);
$font-weight1: bold;
$Icon-font-size: 16px;
$Icon-margin-right: 8px;
$__icon-arrow-right: 40px;
$avatarleft-height:15px;
$avatarleft-margin-right: 20px;

/* 二级展开 */
// 项目展开时触发的所有项目颜色
$subMenuBg:#000c17;
// 侧边二级字体默认颜色
$fontColor2:rgba(159, 167, 174, 1);
$font-weight2: bold;
$font-padding-left:57px;

/* 折叠侧边栏样式 */
// 折叠宽度
$min_sideWidth:64px;
$hideSidebar-logo-padding-left: 3px;
$hideSidebar-logo-height: 64px;
$hideSidebar-logo-width: 88px;

/* 顶部栏和内容区公共样式 */
// 顶部栏离顶部高度
$topHeight:64px;
// 内容无  背景
$NonbugColor:#F0F2F5;


/* 顶部栏样式 */
$top-background: #fff;
$topcontent-line-height: 64px;
$topcontent-margin-right: 20px;
$top-font-size: 22px;
$font-clolor:#555;

// 姜海斌抽离出来的变量 =================================================

// 所有颜色相关的 ***********************
$colorTheme: #1890FF; // 页面整体的主题色
$colorBgPageGray: #EBECEC; // 页面灰色背景
$colorBgBtnGray: #A5ACAA; // 灰色按钮

$colorText1: #000000; // 主要文字颜色，1级黑
$colorText2: rgba(0, 0, 0, 0.7); // 常规文字颜色，2级黑
$colorText3: rgba(0, 0, 0, 0.6); // 常规文字颜色，3级黑
$colorText4: rgba(0, 0, 0, 0.5); // 常规文字颜色，4级黑
$colorText5: rgba(0, 0, 0, 0.4); // 常规文字颜色，5级黑

$colorBorder1: rgba(0, 0, 0, 0.2); // 边框颜色，1级黑
$colorBorder2: rgba(0, 0, 0, 0.1); // 边框颜色，2级黑

// 所有字体相关 ***********************
$fontFamilyMain: Microsoft YaHei; // 图题字体，页面中最主要的字体