@import './variables.scss';
.face-pop {
  $facePopHeight: 206px;
  $colorFaceBorder: #eee;
  position: absolute;
  width: 615px;
  height: $facePopHeight;
  border: 1px solid $colorFaceBorder;
  border-bottom: none;
  background: #ffffff;
  top: -$facePopHeight - 18px;
  left: 0;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.16);;

  ul {
    overflow: hidden;
    height: 100%;
    margin-right: -1px;

    li {
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;

      .face-img {
        display: inline-block;
        width: 24px;
        height: 24px;
        cursor: pointer;
        transition: all .2s;

        &:hover {
          transform: translateY(-3px);
        }
      }
    }
  }
}

.bg-f_static_000 {
  background: url('../../assets/green/emotion_sprites.png') -54px -10px;
}

.bg-f_static_001 {
  background: url('../../assets/green/emotion_sprites.png') -318px -186px;
}

.bg-f_static_002 {
  background: url('../../assets/green/emotion_sprites.png') -10px -54px;
}

.bg-f_static_003 {
  background: url('../../assets/green/emotion_sprites.png') -54px -54px;
}

.bg-f_static_004 {
  background: url('../../assets/green/emotion_sprites.png') -98px -10px;
}

.bg-f_static_005 {
  background: url('../../assets/green/emotion_sprites.png') -98px -54px;
}

.bg-f_static_006 {
  background: url('../../assets/green/emotion_sprites.png') -10px -98px;
}

.bg-f_static_007 {
  background: url('../../assets/green/emotion_sprites.png') -54px -98px;
}

.bg-f_static_008 {
  background: url('../../assets/green/emotion_sprites.png') -98px -98px;
}

.bg-f_static_009 {
  background: url('../../assets/green/emotion_sprites.png') -142px -10px;
}

.bg-f_static_010 {
  background: url('../../assets/green/emotion_sprites.png') -142px -54px;
}

.bg-f_static_011 {
  background: url('../../assets/green/emotion_sprites.png') -142px -98px;
}

.bg-f_static_012 {
  background: url('../../assets/green/emotion_sprites.png') -10px -142px;
}

.bg-f_static_013 {
  background: url('../../assets/green/emotion_sprites.png') -54px -142px;
}

.bg-f_static_014 {
  background: url('../../assets/green/emotion_sprites.png') -98px -142px;
}

.bg-f_static_015 {
  background: url('../../assets/green/emotion_sprites.png') -142px -142px;
}

.bg-f_static_016 {
  background: url('../../assets/green/emotion_sprites.png') -186px -10px;
}

.bg-f_static_017 {
  background: url('../../assets/green/emotion_sprites.png') -186px -54px;
}

.bg-f_static_018 {
  background: url('../../assets/green/emotion_sprites.png') -186px -98px;
}

.bg-f_static_019 {
  background: url('../../assets/green/emotion_sprites.png') -186px -142px;
}

.bg-f_static_020 {
  background: url('../../assets/green/emotion_sprites.png') -10px -186px;
}

.bg-f_static_021 {
  background: url('../../assets/green/emotion_sprites.png') -54px -186px;
}

.bg-f_static_022 {
  background: url('../../assets/green/emotion_sprites.png') -98px -186px;
}

.bg-f_static_023 {
  background: url('../../assets/green/emotion_sprites.png') -142px -186px;
}

.bg-f_static_024 {
  background: url('../../assets/green/emotion_sprites.png') -186px -186px;
}

.bg-f_static_025 {
  background: url('../../assets/green/emotion_sprites.png') -230px -10px;
}

.bg-f_static_026 {
  background: url('../../assets/green/emotion_sprites.png') -230px -54px;
}

.bg-f_static_027 {
  background: url('../../assets/green/emotion_sprites.png') -230px -98px;
}

.bg-f_static_028 {
  background: url('../../assets/green/emotion_sprites.png') -230px -142px;
}

.bg-f_static_029 {
  background: url('../../assets/green/emotion_sprites.png') -230px -186px;
}

.bg-f_static_030 {
  background: url('../../assets/green/emotion_sprites.png') -10px -230px;
}

.bg-f_static_031 {
  background: url('../../assets/green/emotion_sprites.png') -54px -230px;
}

.bg-f_static_032 {
  background: url('../../assets/green/emotion_sprites.png') -98px -230px;
}

.bg-f_static_033 {
  background: url('../../assets/green/emotion_sprites.png') -142px -230px;
}

.bg-f_static_034 {
  background: url('../../assets/green/emotion_sprites.png') -186px -230px;
}

.bg-f_static_035 {
  background: url('../../assets/green/emotion_sprites.png') -230px -230px;
}

.bg-f_static_036 {
  background: url('../../assets/green/emotion_sprites.png') -274px -10px;
}

.bg-f_static_037 {
  background: url('../../assets/green/emotion_sprites.png') -274px -54px;
}

.bg-f_static_038 {
  background: url('../../assets/green/emotion_sprites.png') -274px -98px;
}

.bg-f_static_039 {
  background: url('../../assets/green/emotion_sprites.png') -274px -142px;
}

.bg-f_static_040 {
  background: url('../../assets/green/emotion_sprites.png') -274px -186px;
}

.bg-f_static_041 {
  background: url('../../assets/green/emotion_sprites.png') -274px -230px;
}

.bg-f_static_042 {
  background: url('../../assets/green/emotion_sprites.png') -10px -274px;
}

.bg-f_static_043 {
  background: url('../../assets/green/emotion_sprites.png') -54px -274px;
}

.bg-f_static_044 {
  background: url('../../assets/green/emotion_sprites.png') -98px -274px;
}

.bg-f_static_045 {
  background: url('../../assets/green/emotion_sprites.png') -142px -274px;
}

.bg-f_static_046 {
  background: url('../../assets/green/emotion_sprites.png') -186px -274px;
}

.bg-f_static_047 {
  background: url('../../assets/green/emotion_sprites.png') -230px -274px;
}

.bg-f_static_048 {
  background: url('../../assets/green/emotion_sprites.png') -274px -274px;
}

.bg-f_static_049 {
  background: url('../../assets/green/emotion_sprites.png') -318px -10px;
}

.bg-f_static_050 {
  background: url('../../assets/green/emotion_sprites.png') -318px -54px;
}

.bg-f_static_051 {
  background: url('../../assets/green/emotion_sprites.png') -318px -98px;
}

.bg-f_static_052 {
  background: url('../../assets/green/emotion_sprites.png') -318px -142px;
}

.bg-f_static_053 {
  background: url('../../assets/green/emotion_sprites.png') -10px -10px;
}

.bg-f_static_054 {
  background: url('../../assets/green/emotion_sprites.png') -318px -230px;
}

.bg-f_static_055 {
  background: url('../../assets/green/emotion_sprites.png') -318px -274px;
}

.bg-f_static_056 {
  background: url('../../assets/green/emotion_sprites.png') -10px -318px;
}

.bg-f_static_057 {
  background: url('../../assets/green/emotion_sprites.png') -54px -318px;
}

.bg-f_static_058 {
  background: url('../../assets/green/emotion_sprites.png') -98px -318px;
}

.bg-f_static_059 {
  background: url('../../assets/green/emotion_sprites.png') -142px -318px;
}

.bg-f_static_060 {
  background: url('../../assets/green/emotion_sprites.png') -186px -318px;
}

.bg-f_static_061 {
  background: url('../../assets/green/emotion_sprites.png') -230px -318px;
}

.bg-f_static_062 {
  background: url('../../assets/green/emotion_sprites.png') -274px -318px;
}

.bg-f_static_063 {
  background: url('../../assets/green/emotion_sprites.png') -318px -318px;
}

.bg-f_static_064 {
  background: url('../../assets/green/emotion_sprites.png') -362px -10px;
}

.bg-f_static_065 {
  background: url('../../assets/green/emotion_sprites.png') -362px -54px;
}

.bg-f_static_066 {
  background: url('../../assets/green/emotion_sprites.png') -362px -98px;
}

.bg-f_static_067 {
  background: url('../../assets/green/emotion_sprites.png') -362px -142px;
}

.bg-f_static_068 {
  background: url('../../assets/green/emotion_sprites.png') -362px -186px;
}

.bg-f_static_069 {
  background: url('../../assets/green/emotion_sprites.png') -362px -230px;
}

.bg-f_static_070 {
  background: url('../../assets/green/emotion_sprites.png') -362px -274px;
}

.bg-f_static_071 {
  background: url('../../assets/green/emotion_sprites.png') -362px -318px;
}

.bg-f_static_072 {
  background: url('../../assets/green/emotion_sprites.png') -10px -362px;
}

.bg-f_static_073 {
  background: url('../../assets/green/emotion_sprites.png') -54px -362px;
}

.bg-f_static_074 {
  background: url('../../assets/green/emotion_sprites.png') -98px -362px;
}

.bg-f_static_075 {
  background: url('../../assets/green/emotion_sprites.png') -142px -362px;
}

.bg-f_static_076 {
  background: url('../../assets/green/emotion_sprites.png') -186px -362px;
}

.bg-f_static_077 {
  background: url('../../assets/green/emotion_sprites.png') -230px -362px;
}

.bg-f_static_078 {
  background: url('../../assets/green/emotion_sprites.png') -274px -362px;
}

.bg-f_static_079 {
  background: url('../../assets/green/emotion_sprites.png') -318px -362px;
}

.bg-f_static_080 {
  background: url('../../assets/green/emotion_sprites.png') -362px -362px;
}

.bg-f_static_081 {
  background: url('../../assets/green/emotion_sprites.png') -406px -10px;
}

.bg-f_static_082 {
  background: url('../../assets/green/emotion_sprites.png') -406px -54px;
}

.bg-f_static_083 {
  background: url('../../assets/green/emotion_sprites.png') -406px -98px;
}

.bg-f_static_084 {
  background: url('../../assets/green/emotion_sprites.png') -406px -142px;
}

.bg-f_static_085 {
  background: url('../../assets/green/emotion_sprites.png') -406px -186px;
}

.bg-f_static_086 {
  background: url('../../assets/green/emotion_sprites.png') -406px -230px;
}

.bg-f_static_087 {
  background: url('../../assets/green/emotion_sprites.png') -406px -274px;
}

.bg-f_static_088 {
  background: url('../../assets/green/emotion_sprites.png') -406px -318px;
}

.bg-f_static_089 {
  background: url('../../assets/green/emotion_sprites.png') -406px -362px;
}

.bg-f_static_090 {
  background: url('../../assets/green/emotion_sprites.png') -10px -406px;
}

.bg-f_static_091 {
  background: url('../../assets/green/emotion_sprites.png') -54px -406px;
}

.bg-f_static_092 {
  background: url('../../assets/green/emotion_sprites.png') -98px -406px;
}

.bg-f_static_093 {
  background: url('../../assets/green/emotion_sprites.png') -142px -406px;
}

.bg-f_static_094 {
  background: url('../../assets/green/emotion_sprites.png') -186px -406px;
}

.bg-f_static_095 {
  background: url('../../assets/green/emotion_sprites.png') -230px -406px;
}

.bg-f_static_096 {
  background: url('../../assets/green/emotion_sprites.png') -274px -406px;
}

.bg-f_static_097 {
  background: url('../../assets/green/emotion_sprites.png') -318px -406px;
}

.bg-f_static_098 {
  background: url('../../assets/green/emotion_sprites.png') -362px -406px;
}

.bg-f_static_099 {
  background: url('../../assets/green/emotion_sprites.png') -406px -406px;
}

.bg-f_static_100 {
  background: url('../../assets/green/emotion_sprites.png') -450px -10px;
}

.bg-f_static_101 {
  background: url('../../assets/green/emotion_sprites.png') -450px -54px;
}

.bg-f_static_102 {
  background: url('../../assets/green/emotion_sprites.png') -450px -98px;
}

.bg-f_static_103 {
  background: url('../../assets/green/emotion_sprites.png') -450px -142px;
}

.bg-f_static_104 {
  background: url('../../assets/green/emotion_sprites.png') -450px -186px;
}

.bg-f_static_105 {
  background: url('../../assets/green/emotion_sprites.png') -450px -230px;
}

.bg-f_static_106 {
  background: url('../../assets/green/emotion_sprites.png') -450px -274px;
}
