@import './variables.scss';
@import '../public/index.scss';


.sidebar-container {
    .username {
        margin-top: 2%;
        padding-top: 20px;
        width: 280px;
        text-align: center;

        // background-color: #fff;
        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            // background-color: orange;
        }

        h3 {
            font-size: 20px;
            font-family: Microsoft YaHei;
            font-weight: bold;
            // line-height: 26px;
            color: rgba(255, 255, 255, 0.90);
            -webkit-text-stroke: 1 rgba(0, 0, 0, 0.00);
            opacity: 1;
            margin-top: 2%;

        }

        p {
            font-size: 16px;
            font-family: Microsoft YaHei;
            font-weight: 400;
            line-height: 21px;
            color: rgba(255, 255, 255, 0.60);
            -webkit-text-stroke: 1 rgba(0, 0, 0, 0.00);
            opacity: 1;
            margin-top: 10px;
            padding-bottom: 2%;
        }
    }

    .el-menu-item {
        .el-submenu {
            padding-left: 20px !important;

            &.is-active {
                .eachItem {
                    padding: 10px 20px;
                    background: rgba(15, 109, 217, 1);
                    box-shadow: 0px 3px 10px rgba(15, 109, 217, 0.3);
                    border-radius: 6px;
                }
            }
        }
    }
}