// 所有icon相关 ***********************

$iconEmojiUrl: '~@ma/icon/emoji.svg';        // 表情
$iconFileUrl: '~@ma/icon/file.svg';          // 文件
$iconLinkUrl: '~@ma/icon/url.svg';           // 链接
$iconCloseX: '~@ma/icon/close.svg';          // 关闭X
$iconGenderMale: '~@ma/icon/gender.svg';     // 性别男
$iconTest: '~@ma/icon/text.svg';             // 文本描述
$iconPhone: '~@ma/icon/phone.svg';           // 手机
$iconEmail: '~@ma/icon/mail.svg';            // 邮箱
$iconListMenu: '~@ma/icon/list_menu.svg';            // 3个点
$iconIsChecked: '~@ma/icon/list_icon.svg';          // 添加好友选中状态
$iconNotChecked: '~@ma/icon/group_person_add.svg';    // 添加好友未选中状态
$iconCloseCover: '~@ma/icon/group_person_unselected.svg';    // 添加好友未选中状态
$iconGroupPerson: '~@ma/icon/group_person.svg';    // 添加好友未选中状态
